<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775619726412-8hbbiaqfeba65uvor0hc2km1c69esn0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775619726412-8hbbiaqfeba65uvor0hc2km1c69esn0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBZrVLmY16ZB2ablmgJJVIc8IUVFwEJ69g</string>
	<key>GCM_SENDER_ID</key>
	<string>775619726412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seosieve.mdocHomecare-ios</string>
	<key>PROJECT_ID</key>
	<string>mdochomecare</string>
	<key>STORAGE_BUCKET</key>
	<string>mdochomecare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775619726412:ios:0d901625c9d0b1dd4178e9</string>
</dict>
</plist>